
/* default settings */
body{
    box-sizing: border-box;
    margin: 0;
    height: 100%;
}

*{
    margin: 0;
    padding: 0;
}

/* end of defult settings */

.nav-bar{
    display: flex;
    justify-content: space-between;
    height: 9vh;
    align-items: center;
    padding-inline: 1rem;
    padding-top: 0.1rem;
}

.logo{
    width: 20%;
}

.hero-wraper{
    width: 89%;
    margin: 0 auto;
}

.hero{
    background-color: rgb(137, 214, 240);
}.hero-wraper > h1{
    letter-spacing: 2px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 400;
    font-size: 0.8rem;
    padding: 1.7rem 0;
    color: slategrey;
}

.hero-wraper > h2{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 900;
    font-size: 2.5rem;
    line-height: 1.1;
    padding-bottom: 2rem;
    color: rgb(22, 10, 10);
}


.hero-wraper > p{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    line-height: 1;
    font-weight: 400;
    font-size: 1rem;
    color: rgb(24, 10, 10);
    margin-bottom: 1.5rem;
}

.hero-wraper > button{
    color: white;
    padding: 1.1rem;
    background-color: rgba(54, 54, 248, 0.815);
    font-size: 1rem;
    font-weight: 100;
    border: 0px;
    border-radius: 2px;
    margin-bottom: 1.8rem;
}

.hero-image{
    width: 100%;
    overflow: hidden;
    object-fit: contain;
}
